<!DOCTYPE HTML>
<html>

<head>
    <Title>LegioLab</Title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="src/static/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="src/static/Bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

    <!--Просто пустая шапка-->
    <nav class="navbar navbar-expand-xl bg-secondary justify-content-center navbar-dark">
    </nav>

    <!--Тело ошибки-->
    <div id="error" align=center class="container">
        <h1>Что то пошло не так!</h1>
        <br>
        <h2>{{.}}</h2>
    </div>
</body>

</html>